@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
* , :before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.Ayaulym {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* AYAULYM START*/
/* Navigation */
.Aia #header {
    background-color: #f4f4f4;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.Aia #header #Seytech {
    color: black;
    text-decoration: none;
    font-size: 30px;
    margin-left: 10%;
}
.Aia #header #button {
    background-color: #007bff;
    border-color: 1px solid #007bff;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    display: grid;
    text-decoration: none;
    width: 7%;
    margin-right: 10%;
}
/* Navigation */
@media screen and (min-width: 320px) and (max-width: 399px) {
    .Aia #header #button {
        width: 25%;
    }
}
@media screen and (min-width: 400px) and (max-width: 480px) {
    .Aia #header #button {
        width: 30%;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    .Aia #header #button {
        width: 20%;
    }
}

/* Header Showase Style */
#header2 {
    background-image: url(https://gas-kvas.com/uploads/posts/2023-02/1675431406_gas-kvas-com-p-okean-fonovie-risunki-21.jpg);
    background-position: center;
    background-size: cover;
    height: 60%;
}
#header2 #b {
    color: white;
    margin: 0;
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3%;
    font-size: 400%;
    text-align: center;
}
#header2 #a {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15%;
}
#header2 #a #input {
    border: white;
    border-radius: 5px;
    width: 70%;
    height: 60px;
    font-size: 30px;
    padding-left: 5%;
    margin-left: 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#header2 #a .button {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    color: white;
    font-size: 28px;
    width: 50%;
    height: 60px;
    text-decoration: none;
    text-align: center;
    margin-right: 450px;
    margin-left: 3%;
}
@media screen and (min-width: 320px) and (max-width: 399px) {
    #header2 {
        height: 80vh;
    }
    #header2 #b {
        margin: 0;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 170%;
    }
    #header2 #a {
        margin: 0;
        display: block;
        margin-left: 4%;
    }
    #header2 #a #input {
        border: white;
        border-radius: 5px;
        width: 100%;
        height: 40px;
        font-size: 20px;
        margin: 0;
    }
    #header2 #a .button {
        font-size: 20px;
        width: 100%;
        height: 40px;
        margin: 0;
        margin-top: 3%;
        display: grid;
    }
}
@media screen and (min-width: 400px) and (max-width: 480px) {
    #header2 {
        height: 70vh;
    }
    #header2 #b {
        margin: 0;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 170%;
    }
    #header2 #a {
        margin: 0;
        display: block;
        margin-left: 4%;
    }
    #header2 #a #input {
        border-radius: 5px;
        width: 100%;
        height: 40px;
        font-size: 20px;
        margin: 0;
    }
    #header2 #a .button {
        font-size: 20px;
        width: 100%;
        height: 40px;
        margin: 0;
        margin-top: 3%;
        display: grid;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    #header2 {
        height: 80vh;
    }
    #header2 #b {
        margin: 0;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 170%;
    }
    #header2 #a {
        margin: 0;
        display: block;
        margin-left: 4%;
    }
    #header2 #a #input {
        border-radius: 5px;
        width: 100%;
        height: 40px;
        font-size: 20px;
        margin: 0;
    }
    #header2 #a .button {
        font-size: 20px;
        width: 100%;
        height: 40px;
        margin: 0;
        margin-top: 3%;
        display: grid;
    }
}
@media screen and (min-width: 769px) {
    #header2 {
        height: 90vh;
    }
    #header2 #b {
        padding-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 400%;
    }
    #header2 #a {
        display: flex;
        justify-content: space-around;
        padding-bottom: 15%;
        margin-left: 10%;
        margin-top: 0;
    }
    #header2 #a #input {
        width: 50%;
        height: 60px;
        font-size: 30px;
        margin: 0;
        padding-left: 2%;
        margin-left: 20%;
    }
    #header2 #a .button {
        font-size: 28px;
        width: 15%;
        height: 60px;
        text-decoration: none;
        text-align: center;
        margin-right: 35%;
    }
}

/* Section */
.Aia2 {
    color: black;
    height: 30%;
    padding: 10px 0;
    padding-left: 100px;
    background-color: #f4f4f4;
}
.Aia2 .s1,
.Aia2 .s2,
.Aia2 .s3 {
    float: left;
    margin: 50px;
    margin-left: 0px;
    text-align: center;
}
.Aia2 .s1 .fully b,
.Aia2 .s2 .fully b,
.Aia2 .s3 .fully b {
    width: 50px;
    text-align: center;
    font-size: 40px;
}
.Aia2 .s1 .f,
.Aia2 .s2 .f,
.Aia2 .s3 .f {
    width: 400px;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.Aia2 .s1 i span,
.Aia2 .s2 i span,
.Aia2 .s3 i span {
    font-size: 100px;
    color: #007bff;
}
.Aia2 .s1 i span:hover,
.Aia2 .s2 i span:hover
.Aia2 .s3 i span:hover {
    font-size: 120px;
}

@media screen and (min-width: 320px) and (max-width: 399px) {
    /* Section */
    .Aia2 {
        height: 130vh;
        padding: 0;
        padding-left: 0;
    }
    .Aia2 .s1,
    .Aia2 .s2,
    .Aia2 .s3 {
        float: none;
        margin: 0;
        margin-left: 0;
        text-align: center;
        margin-bottom: 5%;
        padding-top: 5%;
    }
    .Aia2 .s1 .fully b,
    .Aia2 .s2 .fully b,
    .Aia2 .s3 .fully b {
        width: 50px;
        text-align: center;
        font-size: 20px;
    }
    .Aia2 .s1 .f,
    .Aia2 .s2 .f,
    .Aia2 .s3 .f {
        width: 80%;
        text-align: center;
        font-size: 100%;
        padding-top: 2%;
        margin-left: 8%;
    }
    .Aia2 .s1 i span,
    .Aia2 .s2 i span,
    .Aia2 .s3 i span {
        font-size: 200%;
        color: #007bff;
    }
    .Aia2 .s1 i span:hover,
    .Aia2 .s2 i span:hover,
    .Aia2 .s3 i span:hover {
        font-size: 220%;
    }
}
@media screen and (min-width: 400px) and (max-width: 480px) {
    .Aia2 {
        height: 100vh;
        padding: 0;
        padding-left: 0;
    }
    .Aia2 .s1,
    .Aia2 .s2,
    .Aia2 .s3 {
        float: none;
        margin: 0;
        margin-left: 0;
        margin-bottom: 5%;
        padding-top: 5%;
    }
    .Aia2 .s1 .fully b,
    .Aia2 .s2 .fully b,
    .Aia2 .s3 .fully b {
        width: 0;
        font-size: 150%;
    }
    .Aia2 .s1 .f,
    .Aia2 .s2 .f,
    .Aia2 .s3 .f {
        width: 70%;
        font-size: 150%;
        padding-top: 0;
        margin-left: 0;
    }
    .Aia2 .s1 i span,
    .Aia2 .s2 i span,
    .Aia2 .s3 i span {
        font-size: 170%;
    }
    .Aia2 .s1 i span:hover,
    .Aia2 .s2 i span:hover
    .Aia2 .s3 i span:hover {
        font-size: 190%;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    .Aia2 {
        height: 50vh;
        margin: 0;
        padding: 0;
        padding-left: 0;
    }
    .Aia2 .s1,
    .Aia2 .s2,
    .Aia2 .s3 {
        display: table;
        margin: 0;
        margin-left: 0;
        width: 30%;
        margin-top: 2%;
    }
    .Aia2 .s1 {
        margin-left: 8%;
    }

    .Aia2 .s1 .fully b,
    .Aia2 .s2 .fully b,
    .Aia2 .s3 .fully b {
        font-size: 120%;
        margin-left: 0;
    }
    .Aia2 .s1 .f,
    .Aia2 .s2 .f,
    .Aia2 .s3 .f  {
        width: 80%;
        font-size: 80%;
        margin-left: 8%;
        padding: 0;
        padding-top: 2%;
    }
    .Aia2 .s1 i span,
    .Aia2 .s2 i span,
    .Aia2 .s3 i span  {
        font-size: 170%;
    }
    .Aia2 .s1 i span:hover,
    .Aia2 .s2 i span:hover
    .Aia2 .s3 i span:hover {
        font-size: 200%;
    }
}
/* AYAULYM END */

/* ANELII START */
.t3 {
    height: 100vh;
    margin-left: 5%;
}
.t3 .mb-5 {
    padding-top: 60px;
    font-size: 30px;
    text-align: center;
    margin-right: 10%;
    margin-bottom: 5%;
}
.t3 .container {
    margin-left: 15%;
}
.t3 .container .a,
.t3 .container .b,
.t3 .container .c {
    float: left;
    padding: 0 5%;
}
.t3 .container .a .f,
.t3 .container .b .f,
.t3 .container .c .f {
    width: 200px;
    border-radius: 100px;
}
.t3 .container .a h5 b {
    font-size: 30px;
    margin-left: 25px;
    text-align: center;
}
.t3 .container .b h5 b,
.t3 .container .c h5 b {
    font-size: 30px;
    margin-left: 50px;
    text-align: center;
}
.t3 .container .a .a1,
.t3 .container .b .a2,
.t3 .container .c .a1 {
    text-align: center;
    width: 200px;
}

/* ANELII */
@media screen and (min-width: 320px) and (max-width: 399px) {
    .t3 {
        height: 100vh;
    }
    .t3 .mb-5 {
        padding-top: 10%;
        font-size: 150%;
        margin-left: 2%;
    }
    .t3 .container {
        margin-left: 10%;
    }
    .t3 .container .a,
    .t3 .container .b,
    .t3 .container .c {
        float: left;
        padding: 0 5%;
        margin-bottom: 8%;
    }
    .t3 .container .a .f,
    .t3 .container .b .f,
    .t3 .container .c .f {
        width: 200px;
        border-radius: 100px;
    }
    .t3 .container .a h5 b {
        font-size: 30px;
        margin-left: 25px;
        text-align: center;
    }
    .t3 .container .b h5 b,
    .t3 .container .c h5 b {
        font-size: 30px;
        margin-left: 50px;
        text-align: center;
    }
    .t3 .container .a .a1,
    .t3 .container .b .a2,
    .t3 .container .c .a1 {
        text-align: center;
        width: 200px;
    }
}
@media screen and (min-width: 400px) and (max-width: 480px) {
    .t3 {
        height: 100vh;
        padding-left: 2%;
    }
    .t3 .container .a,
    .t3 .container .b,
    .t3 .container .c {
        float: none;
        padding: 0 5%;
        margin-bottom: 5%;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    .t3 {
        height: 80vh;
        margin-left: 0;
    }
    .t3 .mb-5 {
        margin-left: 20%;
    }
    .t3 .container {
        margin-left: 10%;
    }
    .t3 .container .a,
    .t3 .container .b,
    .t3 .container .c {
        display: table;
        padding: 2%;
    }
    .t3 .container .a .f,
    .t3 .container .b .f,
    .t3 .container .c .f {
        width: 100px;
        border-radius: 100px;
        margin-left: 25%;
    }
    .t3 .container .a h5 b {
        font-size: 150%;
        margin-left: 23%;
    }
    .t3 .container .b h5 b,
    .t3 .container .c h5 b {
        font-size: 150%;
        margin-left: 35%;
    }
    .t3 .container .a .a1,
    .t3 .container .b .a2,
    .t3 .container .c .a1 {
        font-size: 100%;
    }
}
/* ANELI END */

/* sophie */

/* showcase */

.sophie{
    display: inline-block;
    padding-bottom: 0;
}

.showcase-img{
    width: 50%;
    
    margin: 0;
    padding: 0;
    padding-bottom: 0;
}

.showcase-img-1{
    float: right;
}

.showcase-img-2{
    float: left;
}

.showcase-img-3{
    float: right;
}

img{
    width: 100%;
}

.showcase-text{
    width: 50%;
    text-align: center;
    padding-top: 13%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 120%;
    padding-bottom: 0;
}

.showcase-text-1{
    float: left;
}

.showcase-text-2{
    float: right;
}

.showcase-text-3{
    float: left;
}

/* register */

.sophie-register{
    background-image: url(https://gas-kvas.com/uploads/posts/2023-02/1675431406_gas-kvas-com-p-okean-fonovie-risunki-21.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
}

.register-text{
    text-align: center;
    color: white;
    padding-top: 5%;
}

.register-button{
    color: white;
    background-color: rgb(0, 149, 255);
    border: 0;
    font-size: 15px;
    border-radius: 5%;
    padding: 1%;
    width: 10%;
    margin-left: 1%;
}

.input-button{
    width: 25%;
    padding: 1%;
    border-radius: 5%;
    border: 0;
}

.input-button:focus{
    border: solid 5px rgb(0, 149, 255);
}

.register-tap{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;
}

/* footer */

.list-item{
    display: inline;
    color: rgb(0, 149, 255);
}

.sophie-a{
    text-decoration: none;
}

.sophie-footer-text{
    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 5%;
    float: left;
}

.social-icons{
    display: flex;
    justify-content: flex-end;
    padding-top: 5.5%;
    padding-right: 15%;
    margin: 0;
}

.facebook img {
    max-width: 20px;
}

.facebook:hover{
    cursor: pointer;
}

.dot {
    color:#000;
}

footer .container {
    max-width: 1280px;
    margin: 0 auto;
}

.social-icons {
    font-size: 28px;
    display: flex;
    gap: 40px;
}

.fa-instagram:hover {
    color: #0d3e74;
}

.fa-facebook:hover {
    color:#0d3e74;
}

.fa-twitter:hover {
    color: #0d3e74;
}

@media (min-width: 0px) and (max-width: 768px) {

    /* footer */

    .sophie-footer-text, .social-icons{
        display: block;
    }

    .sophie-footer-text{
        text-align: center;
    }

    .social-icons{
        display: flex;
        justify-content: center;
        padding: 11%;
    }

    /* showcase */

    .showcase-text{
        text-align: center;
        width: 100%;
    }

    .showcase-img{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .showcase-text{
        padding-bottom: 10%;
    }

    /* register */

    .input-button, .register-button{
        display: block;
    }

    .input-button{
        margin-left: 40%;
        margin-bottom: 2%;
    }

    .register-button{
        margin-left: 43%;
        width: 20%;
    }
}